/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2d0fb4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h3, h4 {
    color: #000000;
}

/* Estilos del video y su contenedor */
main {
    background-color: #00a2ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 960px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    margin: 0;
}

video {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
}
